@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --backgroundColor: #abebc6;
    --primaryColor: #0b5345;
    --secondaryColor: #239b56;
    --thirdColor: #138d75;
}


.ToDoSearch {
    font-family: 'Poppins', sans-serif;
    background: var(--thirdColor);
    border-radius: 10px;
    border: 2px solid var(--primaryColor);
    height: 64px;
    font-size: 24px;
    font-weight: 400;
    color: white;
    padding: 0 10px 0 10px;
    margin-left:30px;
    margin-right: 30px;
}

  
.ToDoSearch::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: 400;
}
  
.ToDoSearch:focus {
    outline-color: var(--primaryColor);
}

